@import url(../icons/style.css);
@import url(./homePage.css);
@import url(./rankPage.css);
@import url(./comunityPage.css);
@import url(./profilePage.css);

@font-face {
  font-family: 'cairo';
  src: url('../fonts/Cairo.ttf') format('truetype');
  font-weight: 200 900;
}

:root {
  --main-direction: rtl;
  --text-color: aliceblue;
  --design-blue: rgba(199, 255, 255, 0.705);
}

button, a, input,
[role="button"] {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
button{
  background-color: transparent;
  border: none;
}

* {
  font-family: 'cairo', sans-serif, serif;
  color: var(--text-color);
  box-sizing: border-box;
  color: var(--text-color);
}
input{
  background-color: transparent;
  border: var(--design-blue) solid;
  border-radius: 10px;
}
::-webkit-scrollbar{
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background-color: rgba(19, 43, 68, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--design-blue);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(199, 255, 255, .6);
}
::-webkit-scrollbar-corner{
  background-color: transparent;
}

img {
  height: 100%;
}

body {
  background-color: rgb(22, 27, 43);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100dvh;
}


/* #region pages settings */
body>section#MainContainer {
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  flex: 1;
  scroll-snap-type: x mandatory;
  direction: var(--main-direction);
}
section#MainContainer::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-image: url(../pic/background.png);
  background-repeat: no-repeat;
  background-origin: border-box;
  backdrop-filter: blur(2px);
  filter: blur(2px);
  z-index: -10;
  overflow: hidden;
}

body>section#MainContainer>* {
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 0;
  overflow-y: scroll;
  scrollbar-width: none;
  position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  direction: ltr;
}
/* #endregion */

/* #region Loading */
.loadingContainer{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-spinner{
  font-size: 3rem;
  transition: 500ms;
  animation: spinnerLoading 1s linear infinite;
}
.loadingContainer .loadingText::after{
  content: '';
  width: 100%;
  height: fit-content;
  font-size: 1.5rem;
  animation: loadingText 5s linear infinite;
}

@keyframes spinnerLoading {
  0%{
    transform: rotate(0deg);
  }100%{
    transform: rotate(360deg);
  }
}
@keyframes loadingText {
  0%{
    content: 'Loading';
  }16.66%{
    content: 'Loading .';
  }33.33%{
    content: 'Loading . .';
  }50%{
    content: 'Loading . . .';
  }66.66%{
    content: 'Loading . .';
  }83.33%{
    content: 'Loading .';
  }100%{
    content: 'Loading';
  }
}

/* #endregion */

/* #region footer */
footer {
  position: relative;
  height: 80px;
  flex-shrink: 0;
  min-width: 100%;
  direction: var(--main-direction);
}

footer>#selectedArea {
  width: 41px;
  height: 80px;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  transition: .5s;
}

footer>#footerContainer {
  display: flex;
  justify-content: space-around;
  max-height: 75px;
  margin-top: 5px;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
}

footer>#footerContainer>a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  width: 24px;
}

footer>#footerContainer>a>div {
  font-size: 24px;
  -webkit-text-stroke: 2px rgb(136, 154, 170);
  color: transparent;
  transition: .5s;
}

footer>#footerContainer>a>p {
  margin: 0;
  color: rgb(136, 154, 170);
  direction: var(--main-direction);
  transition: .5s;
}

footer>#footerContainer>a:nth-child(3)>div {
  position: relative;
  top: -20px;
  font-size: 3rem;
  border-radius: 50%;
  border: rgb(199, 255, 255) solid;
  padding: 10px;
  -webkit-text-stroke: 0;
  color: rgb(199, 255, 255);
  box-shadow: 0 0 10px rgb(199, 255, 255), 0 0 10px rgb(199, 255, 255);
  text-shadow: 0 0 10px rgb(199, 255, 255);
  background-color: rgba(58, 78, 78, 0.644);
  width: max-content;
}

footer>#footerContainer>a:nth-child(3)>p {
  position: relative;
  bottom: 20px;
  white-space: nowrap;
  -webkit-text-stroke: .3px rgb(199, 255, 255);
  text-shadow: 0 0 10px rgb(199, 255, 255), 0 0 10px rgb(199, 255, 255);
}

footer>#footerContainer>a.selected>div {
  -webkit-text-stroke: 0;
  color: rgb(199, 255, 255);
  text-shadow: 0 0 10px rgb(199, 255, 255), 0 0 10px rgb(199, 255, 255);
  text-shadow: 0 0 100px rgb(199, 255, 255);
}

footer>#footerContainer>a.selected>p {
  -webkit-text-stroke: 1px rgb(199, 255, 255);
  text-shadow: 0 0 10px rgb(199, 255, 255), 0 0 10px rgb(199, 255, 255);
}

/* #endregion */

/* #region QR Code */
#qrcodePage{
  width: 100%;
  height: 100%;
  align-items: center !important;
  justify-content: center !important;
  position: absolute;
  background-color: black;
  z-index: 10;
  display: none;
}
#qrCodeScanner{
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  border: none !important;
}
#cancelQrBtn{
  font-size: 3rem;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}
#qrCodeScanner__scan_region>img{
  filter: 
    drop-shadow(2px 0px 0px var(--design-blue))   /* يمين */
    drop-shadow(-2px 0px 0px var(--design-blue))  /* شمال */
    drop-shadow(0px 2px 0px var(--design-blue))   /* تحت */
    drop-shadow(0px -2px 0px var(--design-blue)); /* فوق */
}
#html5-qrcode-button-camera-permission{
  font-size: 1.3rem;
  color: yellow;
  font-weight: 700;
  border: yellow solid;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}
#html5-qrcode-button-camera-permission::before, 
#html5-qrcode-anchor-scan-type-change::before,
#qrCodeScanner__header_message::before{
  margin-right: 5px;
}
#qrCodeScanner__dashboard_section>div:last-child{
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}
#html5-qrcode-anchor-scan-type-change{
  font-size: 1.4rem;
  align-self: center;
  margin-top: 10px;
  width: max-content;
  text-decoration: none !important;
  border: aliceblue solid;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  display: block !important;
}
#qrCodeScanner__header_message{
  font-size: 1.5rem !important;
  font-weight: 900;
  padding: 10px;
  border: red solid !important;
  border-radius: 10px;
  cursor: default;
}
/* select camera */
#qrCodeScanner__dashboard_section_csr{
  font-size: 1.5rem;
}
#html5-qrcode-select-camera{
  background-color: transparent;
  font-size: 1rem;
}
#html5-qrcode-select-camera>option{
  background-color: black;
}
#html5-qrcode-button-camera-start, #html5-qrcode-button-camera-stop{
  font-size: 1rem;
  color: var(--design-blue);
  border: var(--design-blue) solid;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}
#html5-qrcode-button-camera-stop{
  color: red;
  border: red solid;
  font-weight: 900;
}

/* #endregion */
