@import url(../index.css);
@import url(../../icons/style.css);
@import url(./dashboard-transaction-page.css);
@import url(./dashboard-user-page.css);
@import url(./dashboard-tasks-page.css);
@import url(../profile-page.css);


@font-face {
  font-family: 'Cairo';
  src: url('../../fonts/Cairo.ttf') format('truetype');
  font-weight: 200 900;
}
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  color: whitesmoke;
  background-color: transparent;
  border: none;
  line-height: 1;
  user-select: none;
  font-family: 'cairo','sans-serif';
  text-decoration: none;
}

body {
  background-color: rgb(6, 2, 32);
  display: flex;
  flex-direction: column;
  align-items: center
}


/* header */ 

header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100dvw;
}

.logoTitle {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.logoTitle div {
  height: 100%;
}

.logoTitle img {
  object-fit: contain;
  height: 100%;
}

.logoTitleName {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#dashboardUser{
  display: flex;
}
#dashboardHeaderName{
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  margin-right: 10px;
}
#dashboardUserName{
  font-size: 1.3rem;
}
#dashboardHeaderName>h4:first-child{
  font-size: 1rem;
  font-weight: 300;
  color: rgb(233, 231, 231);
}

#dashboardProfilePic {
  height: 3rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: aliceblue solid;
}

#dashboardProfilePic span {
  height: 100%;
  font-size: 2.5rem;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  color: aliceblue;
}
#dashboardProfilePic img{
  object-fit: contain;
  height: 100%;
  width: 100%;
  position: absolute;
}



.mainContainer {
  width: 100%;
  height: calc(100dvh - 140px);
  overflow: hidden;
  display: flex;
  scroll-behavior: smooth;
  position: relative;
  direction: var(--main-direction);
}


/* footer */
footer{
  height: 70px;
  width: 100dvw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer a{
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
footer a span{
  font-size: 2rem;
  color: rgb(182, 180, 180);
  transition: .5s;
}
.activePage{
  color: aliceblue;
}


/* general */
.adBanner{
  width: 100%;
  height: calc(100% - 140px);
  position: fixed;
  z-index: 10;
  pointer-events: none;
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
  justify-content: end;
}
.adBanner div{
  min-height: max-content;
  width: 400px;
  max-width: 70%;
  padding: 7px;
  border-radius: 15px;
  direction: rtl;
  overflow-wrap: break-word;
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 700;
}
.adDiv.red{
  background-color: rgba(255, 0, 0, 0.5);
  border: red solid;
}
.adDiv.green{
  background-color: rgba(8, 185, 38, 0.5);
  border: rgb(0, 255, 0) solid;
}
.adBanner .adDiv{
  transform: translateX(100%);
  animation: adDiv 10s forwards;
}
@keyframes adDiv {
  10%{
    transform: translateX(-20px);
  }15%{
    transform: translateX(0px);
  }85%{
    transform: translateX(0px);
  }90%{
    transform: translateX(20px);
  }100%{
    transform: translateX(-100dvw);
    display: none;
  }
}


@keyframes loading {
  0% {
    background: linear-gradient(to right, rgb(121, 133, 163), rgb(192, 206, 231), rgb(121, 133, 163));
    background-size: 500%;
    background-position: 0%;
    border-radius: 10px;
  }

  100% {
    background: linear-gradient(to right, rgb(121, 133, 163), rgb(192, 206, 231), rgb(121, 133, 163));
    background-size: 500%;
    border-radius: 10px;
    background-position: -120%;
  }
}

.loading {
  border-radius: 15px;
  animation: loading 2s infinite forwards;
  opacity: .7;
}
.loadingC{
  animation: loadingC 2s infinite forwards;
  opacity: .7;
}

@keyframes loadingC {
  0% {
    background: linear-gradient(to right, rgb(121, 133, 163), rgb(192, 206, 231), rgb(121, 133, 163));
    background-size: 500%;
    background-position: 0%;
    border-radius: 50%;
  }

  100% {
    background: linear-gradient(to right, rgb(121, 133, 163), rgb(192, 206, 231), rgb(121, 133, 163));
    background-size: 500%;
    border-radius: 50%;
    background-position: -120%;
  }
}

#dashboard-profile-page{
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-y: scroll;
  scrollbar-width: none;
}
