@font-face {
  font-family: 'Untitled';
  src: url('fonts/Untitled.ttf') format('truetype'),
       url('fonts/Untitled.woff') format('woff'),
       url('fonts/Untitled.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'Untitled' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home::before { content: "\e900"; }
.icon-gamepad::before { content: "\e901"; }
.icon-user::before { content: "\e902"; }
.icon-user1::before { content: "\e903"; }
.icon-user2::before { content: "\e904"; }
.icon-play::before { content: "\e905"; }
.icon-notice::before { content: "\e906"; }
.icon-task::before { content: "\e907"; }
.icon-done::before { content: "\e908"; }
.icon-missed::before { content: "\e909"; }
.icon-time::before { content: "\e90a"; }
.icon-timer::before { content: "\e90b"; }
.icon-leaderboard::before { content: "\e90c"; }
.icon-search::before { content: "\e90d"; }
.icon-paperplane::before { content: "\e90e"; }
.icon-minus::before { content: "\e90f"; }
.icon-camera::before { content: "\e910"; }
.icon-eye::before { content: "\e911"; }
.icon-plus::before { content: "\e912"; }
.icon-users::before { content: "\e913"; }
.icon-checkmark::before { content: "\e914"; }
.icon-cancel::before { content: "\e915"; }
.icon-trash::before { content: "\e916"; }
.icon-moon::before { content: "\e917"; }
.icon-actionDots::before { content: "\e918"; }
.icon-pencil::before { content: "\e919"; }
.icon-calendar::before { content: "\e91a"; }
.icon-plus1::before { content: "\e91b"; }
.icon-music::before { content: "\e91c"; }
.icon-mic::before { content: "\e91d"; }
.icon-qr::before { content: "\e91e"; }
.icon-mail-closed::before { content: "\e91f"; }
.icon-phone::before { content: "\e920"; }
.icon-eye-off::before { content: "\e921"; }
.icon-lock::before { content: "\e922"; }
.icon-language::before { content: "\e923"; }
.icon-lock-rounded-open::before { content: "\e924"; }
.icon-lock-rounded-close::before { content: "\e925"; }
.icon-arrow-back::before { content: "\e926"; }
.icon-color_palet::before { content: "\e927"; }
.icon-login::before { content: "\e928"; }
.icon-photo::before { content: "\e929"; }
.icon-sun::before { content: "\e92a"; }
.icon-view-mood::before { content: "\e92b"; }
.icon-coin::before { content: "\e93c"; }
.icon-credit-card::before { content: "\e93f"; }
.icon-user-approved::before { content: "\e975"; }
.icon-spinner::before { content: "\e982"; }
.icon-trophy::before { content: "\e99e"; }
.icon-man-woman::before { content: "\e9de"; }
.icon-tongue::before { content: "\e9e3"; }
.icon-star::before { content: "\f005"; }
.icon-gear::before { content: "\f013"; }
.icon-refresh::before { content: "\f021"; }
.icon-edit::before { content: "\f044"; }
.icon-exit::before { content: "\f08b"; }
.icon-bell::before { content: "\f0a2"; }
.icon-comunity::before { content: "\f0c0"; }
.icon-pause::before { content: "\f144"; }
.icon-history::before { content: "\f1da"; }
.icon-private::before { content: "\f21b"; }
.icon-warning::before { content: "\ea07"; }
.icon-notification::before { content: "\ea08"; }
.icon-info::before { content: "\ea0c"; }
.icon-blocked::before { content: "\ea0e"; }